:root {
    /* colors */
    --background-color: #ffffff;
    --second-color: #540375;
    --puple-low: rgba(229, 221, 247, 0.3);
    --blue-color: #283747;
    --Highlight-color: #FFBF00;
    --Highlight-yellow: #F5E687;
    /* font */
    --font-family: 'IBM Plex Sans Thai', sans-serif;
    --header1: 32px;
    --header2: 24px;
    --header3: 18px;
    --paragraph: 16px;
    --rd: 10px;
    --pm20px: 20px;
    --pm30px: 30px;
    --pm50px: 50px;
    /* showdow */
    --showdow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*=============================================== */
/*============== หน้า home view index ============ */
/*=============================================== */

/* ปรับ CSS ของเมนู */
.navbar {
    font-size: var(--header3);
    font-weight: bold;
    padding-left: var(--pm20px);
    padding-right: var(--pm20px);
    /* padding-top: var(--pm20px);
    padding-bottom: var(--pm20px); */
    background-color: var(--background-color);
}

.navbar-brand img {
    height: 40px;
    /* ลดความสูงของรูปภาพเป็น 40px */
    padding: 0 var(--pm20px);
}

.nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.btn-login {
    background-color: var(--second-color);
    color: var(--background-color);
    border: none;
    padding: 10px 30px;
    border-radius: var(--rd);
}

.navbar .btn:hover {
    color: var(--background-color);
}

.position-absolute {
    z-index: 1;
    /* สั่งให้ข้อความขึ้นหน้ารูปภาพ */
}

.bg-transparent {
    background-color: none;
}

.img-card .position-absolute {
    padding-left: 50px;
}

.img-card .position-absolute h2 {
    font-size: var(--header1);
    font-weight: bold;
}

.img-card .position-absolute .data-center,
.img-card .position-absolute .surat {
    color: var(--Highlight-yellow);
}

.img-card img {
    filter: brightness(0.6);
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.card-sixmenu {
    margin-top: var(--pm20px);
}

.card-sixmenu img {
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    padding: var(--pm20px);
}

.card-sixmenu .border {
    cursor: pointer;
    border-radius: var(--rd);
    margin-bottom: var(--pm20px);
    transition: 0.3s ease-in-out;
}

.card-sixmenu .border:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-menusix {
    font-size: var(--header2);
    font-weight: bold;
    /* padding-left: var(--pm50px); */
    padding-top: var(--pm20px);
}

.bg-cnf {
    background-color: var(--puple-low);
}

.card-about-scit {
    border: none;
    margin: var(--pm50px) auto;
}

.card-about-scit img {
    max-width: 450px;
    max-height: 200px;
    object-fit: cover;
    padding: var(--pm50px);
}

.card-about-scit .card-body .bi-mortarboard-fill {
    font-size: var(--pm30px);
    color: var(--second-color);
}

.btn-name {
    background-color: var(--second-color);
    color: #fff;
    border: none;
    border-radius: var(--rd);
    padding: 10px 20px;
    font-size: var(--paragraph);
    transition: 0.3s ease-in;
}

.btn-name i {
    margin-left: 10px;
}

.btn-name:hover {
    color: black;
    background-color: var(--puple-low);
    box-shadow: var(--showdow);
}

.container-person {
    background-color: var(--puple-low);
    padding: var(--pm50px) 0;
}

.card-activities {
    margin: var(--pm30px) 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card-activities:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
}

.bg-cnlernning {
    background-color: var(--background-color);
}

/* .bg-cnlernning button{
    margin-right: 110px;
} */
.card-text {
    line-height: 1.5em;
    /* กำหนดความสูงของบรรทัดเท่ากัน 1.5 เท่าขนาดตัวอักษร */
    max-height: calc(1.5em * 3);
    /* กำหนดความสูงสูงสุดเท่ากับ 1.5em คูณกับจำนวนบรรทัดที่ต้องการแสดง */
    text-overflow: ellipsis;
    overflow: hidden;
    /* ปิดการแสดงเนื้อหาที่เกิน 5 บรรทัด */
}

.card .text-date {
    font-size: 14px;
    color: gray;
}

.card-activities .card-body {
    padding: 1rem 1rem 0 1rem;
}

.card-about-psu {
    border: none;
    margin: var(--pm50px) auto;
}

.card-about-psu img {
    max-width: 660px;
    max-height: 400px;
    object-fit: cover;
    padding: var(--pm50px);
}

.card-title i {
    color: var(--second-color);
}


/*=============================================== */
/*============== หน้า LOGIN CSS ================== */
/*=============================================== */

#username,
#password {
    background-color: var(--puple-low);
}

.container #login-row #login-column #login-box {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    border: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

img {
    max-width: 300px;
}

.btn-block {
    background-color: var(--second-color);
}

.password-wrapper {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.img-scit-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============================================== */
/*============== หน้าชี้วัด CSS ================== */
/*=============================================== */
.box-data-body{
    margin: 20px;
}

.box-data-body .home_content{
    font-size: var(--header2);
    font-weight: bold;
    color: var(--blue-color);
}

.box-data-header .btn {
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: var(--rd);
    padding: 10px 20px;
    font-size: var(--paragraph);
    transition: 0.3s ease-in;
}
.box-data-header .btn:hover {
    color: black;
    background-color: var(--puple-low);
    box-shadow: var(--showdow);
}