:root {
    /* colors */
    --background-color: #ffffff;
    --second-color: #540375;
    --purple-low: rgba(229, 221, 247, 0.3);
    --blue-color: #283747;
    --Highlight-color: #FFBF00;
    --Highlight-yellow: #F5E687;
    --input-color: #A2A6AA;
    /* font */
    --font-family: 'IBM Plex Sans Thai', sans-serif;
    --header1: 32px;
    --header2: 24px;
    --header3: 18px;
    --paragraph: 16px;
    --rd: 10px;
    --pm10px: 10px;
    --pm20px: 20px;
    --pm30px: 30px;
    --pm50px: 50px;
    /* showdow */
    --showdow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: rgba(230, 238, 249, 0.5);
}

.box-mou-body {
    padding-top: 30px;
}

/* .container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding-top: 80px;
    margin: 100px 0 0 0px;
    align-items: center;
    justify-content: center;
} */

.tabs {
    display: flex;
    position: relative;
    /* background-color: #fff; */
    /* box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15); */
    padding-left: 30px;
    border-radius: 8px;
}

.tabs * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: #fff;
}

input[type="radio"]:checked+label>.notification {
    background-color: #fff;
    color: #fff;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 270px;
    font-size: var(--paragraph);
    font-weight: 700;
    border-radius: 8px;
    border: solid 2px #283747;
    cursor: pointer;
    transition: color 0.15s ease-in;
    margin-right: 10px;
}

input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
    transform: translateX(104%);
}

input[id="radio-3"]:checked~.glider {
    transform: translateX(208%);
}

.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 270px;
    background-color: #283747;
    z-index: 1;
    border-radius: 8px;
    border: solid 2px #283747;
    transition: 0.25s ease-out;
}

@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
    }
}

.mou-university {
    margin-top: var(--pm30px);
    margin-left: var(--pm30px);
    font-size: var(--header1);
    font-weight: 600;
    color: var(--blue-color);
    line-height: 130%;
    /* position: absolute; */
}

.field {
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin-left: var(--pm30px);
    height: 26px;
    left: 407px;
    top: 173px;
    width: 95%;
    font-size: var(--paragraph);
    line-height: 130%;
    color: #000000;
    border: 1px solid #5B5B5B;
    border-radius: 5px;
    overflow: hidden;
}

.input-mou-university {
    margin-top: 20px;
}

.name-university,
.country,
.date-write,
.expiration-date {
    padding-top: 15px;
}

.btn-one {
    margin-right: 20px;
    display: inline-flex;
    width: 68px;
    height: 25px;
    background: #283747;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.btn-two {
    display: inline-flex;
    width: 68px;
    height: 25px;
    background: #283747;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.btn-one:hover,
.btn-two:hover {
    background: #111c27;
}

.btn-one:active,
.btn-two:active {
    background: #0f1a24;
}

.text-cancel,
.text-save {
    display: inline-flex;
    align-items: center;
    padding: 0 11px;
    color: white;
    height: 100%;
}